# PRACTICA 1

### Resuelve las siguientes preguntas empleando lo aprendido con las estructuras de Datos

Pon el código debajo de cada pregunta. Añade tantas celdas de código como necesites.

#### 1.- Escribe una ecuación que emplee multiplicación, división, un exponente, suma y resta y que sea igual a 100.25. (0,25 ptos)

In [6]:
(10**2)+(50/2)-25+(1*0.25)

100.25

#### 2.- ¿Qué harías para obtener la raíz cuadrada de 100? Busca dos formas. (0,5 ptos)

In [7]:
resultado1 = 100 ** 0.5
print(resultado1)
import math

resultado2 = math.sqrt(100)
print(resultado2)

10.0
10.0

#### 3.- ¿Y el cuadrado de 100? (0,25 ptos)

In [9]:
100 ** 2

10000

#### 4.- Tenemos la string 'hello'. (0,5 ptos)
#### Primero devuelve la letra 'e'
#### Luego dale la vuelta a la string 
#### Después usa dos métodos para devolver la letra 'o'

In [12]:
s = 'hello'

In [15]:
# 1. Devolver la letra 'e' 
print(s[1])   

# 2. Darle la vuelta a la string
print(s[::-1])   

# 3. Dos métodos para devolver la letra 'o'

# Método 1: usando índice positivo
print(s[4])  

# Método 2: usando índice negativo
print(s[-1])

e
olleh
o
o

#### 5.- Crear una lista que contenga esto [0,0,0] de dos formas distintas (0,5 ptos)

In [18]:
lista1 = [0, 0, 0]
print(lista1)
lista2 = [0] * 3
print(lista2)

[0, 0, 0]
[0, 0, 0]

#### 6.- Reasigna 'hello' en la lista a continuación para que diga 'goodbye' (1 pto)

In [19]:
lista = [1,2,[3,4,'hello']]

In [20]:
lista[2][2] = 'goodbye'
print(lista)

[1, 2, [3, 4, 'goodbye']]

#### 7.- Ordena la siguiente lista (0,5 ptos)

In [23]:
listaSinOrdenar = [5,3,4,6,1]

In [24]:
listaSinOrdenar = [5, 3, 4, 6, 1]

listaSinOrdenar.sort()
print(listaSinOrdenar)

[1, 3, 4, 5, 6]

#### 8.- En los siguientes diccionarios, extrae el valor de 'hello (2 ptos)

In [34]:
f = {'k1':{'k2':'hello'}}

In [35]:
f = {'k1': {'k2': 'hello'}}
print(f['k1']['k2'])
# salida: hello

hello

In [36]:
d = {'key1':'hello'}

In [37]:
d = {'key1': 'hello'}
print(d['key1'])
# salida: hello

hello

In [38]:
g = {'k1':[{'o1':['valor escondido',['hello']]}]}

In [39]:
d = {'key1': 'hello'}
print(d['key1'])
# salida: hello

hello

In [40]:
h = {'k1':[1,2,{'k2':['complicado',{'dificil':[1,2,['hello']]}]}]}

In [41]:
h = {'k1': [1, 2, {'k2': ['complicado', {'dificil': [1, 2, ['hello']]}]}]}
print(h['k1'][2]['k2'][1]['dificil'][2][0])
# salida: hello

hello

#### 9.- Crea una tupla (1 pto)

In [42]:
mi_tupla = (1, 2, 3)
print(mi_tupla)

(1, 2, 3)

#### 10.- Emplea los sets para encontrar los valores únicos de esta lista (0,5 ptos)

In [43]:
listaDuplicada = [1,2,2,33,4,4,11,22,3,3,2]

In [72]:
listaDuplicada = [1,2,2,33,4,4,11,22,3,3,2]

# Convertir la lista a un set
valores_unicos = set(listaDuplicada)

print(valores_unicos)

{1, 2, 33, 4, 3, 11, 22}

#### 11.- Haz las siguientes comparaciones: (0,5 ptos)
#### Dos mayor que tres
#### Tres igual que 2
#### La raíz cuadrada de cuatro no es igual a 2
#### Se cumple si 6 es mayor que 5 y 7 menor de 8
#### Se cumple si la longitud de _nombre_ es  que el número de elementos de _colores_ o si la longitud de _nombre_ es menor de 7.

In [45]:
# 2 mayor que 3
2 > 3

False

In [46]:
# 3 igual que 2
3 == 2

False

In [48]:
# raíz cuadrada de 4 no es igual a 2
(4 ** 0.5) != 2

False

In [49]:
(6 > 5) and (7 < 8)

True

In [52]:
nombre = "Pepito"
colores = ["azul","rojo","verde","lila","amarillo limón"]
(len(nombre) == len(colores)) or (len(nombre) < 7)

True

#### 12.- Crea un archivo mediante código que se llame _tabla-nombres.txt_ y que esté formado por 4 columnas y 4 filas con la siguiente formación (1,5 ptos):
#### Primera columna: Nombre
#### Segunda columna: Apellidos (2 apellidos)
#### Tercera columna: Edad
#### Cuarta columna: Mascotas (nombre de la mascota si tienen)

#### ¿Qué pasa si abres el archivo desde Jupyter y has metido acentos? ¿Puedes solucionarlo?

In [55]:
# Abrimos el archivo en modo escritura
with open("tabla-nombres.txt", "w", encoding="utf-8") as f:
    # Escribimos los encabezados
    f.write("Nombre\tApellidos\tEdad\tMascotas\n")
    
    # Escribimos 4 filas de ejemplo
    f.write("Ana\tPérez Gómez\t25\tLuna\n")
    f.write("Luis\tMartín López\t30\t-\n")
    f.write("María\tFernández Díaz\t28\tCalipo\n")
    f.write("Jorge\tGarcía Núñez\t35\tMax\n")

In [59]:
with open("tabla-nombres.txt", "r", encoding="utf-8") as f:
    contenido = f.read()
    print(contenido)
    # para solucionar el problema utilizamos el encoding="utf-8" para que se soluciona el problema de los acentos.

Nombre	Apellidos	Edad	Mascotas
Ana	Pérez Gómez	25	Luna
Luis	Martín López	30	-
María	Fernández Díaz	28	Calipo
Jorge	García Núñez	35	Max

#### 13.- Crea un diccionario que contenga las siguientes parejas. Obtén el listado de keys() y guárdalo en una lista. Añade un par de elementos más y después convierte esa lista en un set (1 pto).

#### Rattus = novergicus, rattus
#### Glaucidium = brasilianum, hoskinsii, californicum, minutissimum
#### Echinocactus = grusonii
#### Opuntia = 1

In [64]:
diccionario = {
    "Rattus": ["noverigicus", "rattus"],
    "Glaucidium": ["brasilianum", "hoskinsii", "californicum", "minutissimum"],
    "Echinocactus": ["grusonii"],
    "Opuntia": 1
}

In [65]:
lista_keys = list(diccionario.keys())
print(lista_keys)

['Rattus', 'Glaucidium', 'Echinocactus', 'Opuntia']

In [66]:
diccionario["Canis"] = ["lupus", "familiaris"]
diccionario["Felis"] = ["catus"]

print(diccionario.keys())

dict_keys(['Rattus', 'Glaucidium', 'Echinocactus', 'Opuntia', 'Canis', 'Felis'])

In [68]:
set_keys = set(lista_keys + ["Canis", "Felis"])
print(set_keys)

{'Felis', 'Echinocactus', 'Glaucidium', 'Rattus', 'Canis', 'Opuntia'}